main {
    font-size: 25px;
}

@media(max-width:500px) {
    main{
        font-size: 20px;
    }
}
@media(max-width:450px) {
    main{
        font-size: 15px;
    }
}
@media(max-width:320px) {
    main{
        font-size: 10px;
    }
}

/* ---------- topo ---------- */
#topo {
    width: 100%;
    height: 400px;
    position: relative;
    font-size: 15px;
}

#topo div {
    height: 100%;
    width: 100%;
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: end;
}

#topo div svg {
    width: 40px;
    border-radius: 100%;
}

#topo div #linksProjeto {
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
}

#topo div #linksProjeto a {
    display: flex;
    align-items: center;
    margin: 10px;
}

#topo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#topo div #linksVideo {
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

#topo div #linksVideo a {
    margin: 10px;
    display: flex;
    align-items: center;
}

/* --- tema --- */

.escuro #topo a {
    color: var(--cor-texto-escuro);
}

.claro #topo a {
    color: var(--cor-texto2-claro);
}


.escuro #topo div {
    background-color: #000000c4;
    ;
}

.claro #topo div {
    background-color: #FFFFFF90;
}

/* --- responsividade --- */

@media (max-width:430px) {
    #topo div #linksVideo {
        flex-direction: column;
        margin-left: auto;
    }
}

@media (max-width:310px) {
    #topo div #linksProjeto {
        flex-direction: column;
        align-items: center;
        justify-content: end;
        height: 250px;
    }
}

@media (min-width:310px) {
    #topo div #linksProjeto {
        justify-content: center;
    }
}

/* ---------- topo ---------- */
#rotuloProjeto {
    width: 100%;
    font-size: 1em;
    text-align: center;
    padding: 2%;
}

#rotuloProjeto h1 {
    font-weight: normal;
    margin-bottom: 20px;
}

.escuro #rotuloProjeto {
    background-color: #010124;
    color: var(--cor-texto-escuro);
}

.claro #rotuloProjeto {
    background-color: #A6A6A6;
    color: var(--cor-texto2-claro);
}

/* ---------- Tecnologias ---------- */
.containerTecnologia{
    max-width: 1000px;
    margin: auto;
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin-top: 1%;
    flex-wrap: wrap;
}
.containerTecnologia .tecnologia {
    display: grid;
    grid-template-columns: 40px calc(100% - 40px);
    align-items: center;
    padding: 0.5%;
    border-radius: 3px;
}
.containerTecnologia .tecnologia img{
    width: 100%;
}

/* --- tema --- */

.claro .containerTecnologia .tecnologia {
    background-color: var(--cor-terciaria-claro);
}
.escuro .containerTecnologia .tecnologia {
    background-color: var(--cor-terciaria-escuro);
    color: var(--cor-texto-escuro);
}

/* --- responsividade --- */