* {
    font-weight: normal;
}
a{
    color: currentColor;
}
main{
    font-size: 25px;
}

/* ---------- informação sobre o projeto ---------- */
#informacaoProjeto {
    width: 98%;
    max-width: 1600px;
    height: 500px;
    margin: auto;
    margin-top: 1%;
    display: grid;
    grid-template-areas: "img h2" "img p" "img ver" "section section" "link link";
    grid-template-columns: 600px calc(100% - 600px);
    grid-template-rows: 12% 28% 20% 30% 10%;
    padding: 1%;
    border-radius: 10px;
}

#informacaoProjeto img {
    width: 600px;
    grid-area: img;
    height: 100%;
    object-fit: cover;
    padding-right:2% ;
}

#informacaoProjeto h2 {
    grid-area: h2;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

#informacaoProjeto p {
    grid-area: p;
}

#informacaoProjeto #Ver {
    grid-area: ver;
    font-size: 0.9em;
}

#informacaoProjeto #Ver div {
    display: flex;
    width: 100%;
    height: calc(100% - 1.5em);
    justify-content: space-between;
    align-items: end;
}

#informacaoProjeto #Ver div a{
    display: flex;
    align-items: center;
}
#informacaoProjeto #Ver div a svg{
    height: 40px;
}

#informacaoProjeto section {
    margin-top: 5%;
}

#informacaoProjeto section div {
    grid-area: section;
    display: flex;
    gap: 2%;
    margin-top:3%;
}

#informacaoProjeto section article {
    display: flex;
    align-items: center;
    height: 50px;
    padding:1%;
    border-radius: 5px;
}

#informacaoProjeto section article svg {
    height: 40px;
}

#informacaoProjeto #linkVideo {
    grid-area: link;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 2%;
}

#informacaoProjeto #linkVideo a{
    text-decoration:underline;
    display: flex;
    align-items: center;
}
#informacaoProjeto #linkVideo a:first-child{
    width: 350px;
}

#informacaoProjeto #linkVideo a svg{
    height: 1.7em;
    margin-right: 3%;
}

.claro #informacaoProjeto {
    background-color: var(--cor-terciaria-claro);
    color: var(--cor-texto2-claro);
}

/* --- tema --- */

.escuro #informacaoProjeto {
    background-color: var(--cor-primaria-escuro);
    color: var(--cor-texto-escuro);
}

.escuro #informacaoProjeto section article{
    background-color: var( --cor-terciaria-escuro);
}
.claro #informacaoProjeto section article{
    background-color: var( --cor-secundaria-claro);
}

/* ---------- descrição escrita do site ---------- */
#descricaoEscrita{
    width: 90%;
    margin: auto;
    max-width: 1600px;
}
#descricaoEscrita h2{
    text-align: center;
    margin: 3% 0 3% 0;
}

/* --- tema --- */

.claro #descricaoEscrita{
    color: var(--cor-texto2-claro);
}
.escuro #descricaoEscrita{
    color: var(--cor-texto-escuro);
}

/* --------- imagem ---------- */
#img {
    margin-top: 2%;
}
#img h2{
    text-align: center;
    margin-bottom: 2%;
}

.claro #img{
    color: var(--cor-texto2-claro);
}
.escuro #img{
    color: var(--cor-texto-escuro);
}