/* ---------- sub tituolo ---------- */
h3 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    padding: 20px 0 20px;
}

/* --- tema --- */

.claro h3 {
    color: var(--cor-texto3-claro);
}

.escuro h3 {
    color: var(--cor-texto3-escuro);
}

/* --- responsividade --- */

@media (max-width:750px) {
    h3 {
        font-size: 40px;
    }
}

@media (max-width:450px) {
    h3 {
        font-size: 25px;
    }
}

/* ---------- texto ---------- */
main {
    font-size: 25px;
}

/* --- tema --- */

.claro main {
    color: var(--cor-texto2-claro);
}

.escuro main {
    color: var(--cor-texto-escuro);
}

/* --- responsividade --- */

@media (max-width:750px) {
    main {
        font-size: 20px;
    }
}

@media (max-width:450px) {
    main {
        font-size: 15px;
    }
}

@media (max-width:350px) {
    main {
        font-size: 10px;
    }
}

/* ---------- apresentacao ---------- */
#presentacao {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

#presentacao h1 {
    font-size: 120px;
    font-weight: normal;
}

#presentacao h2 {
    font-size: 90px;
    margin-top: -80px;
    font-weight: normal;
}

#presentacao img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 100%;
    margin-top: 10px;
}

/* --- tema --- */

.escuro #presentacao h1 {
    color: var(--cor-texto3-escuro);
}

.claro #presentacao h1 {
    color: var(--cor-texto3-claro);
}

.escuro #presentacao h2 {
    color: var(--cor-texto-escuro);
}

.claro #presentacao h2 {
    color: var(--cor-texto2-claro);
}

/* --- responsividade --- */

@media (max-width: 1050px) {
    #presentacao h1 {
        font-size: 100px;
    }

    #presentacao h2 {
        font-size: 80px;
    }

    #presentacao img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 900px) {
    #presentacao h1 {
        font-size: 80px;
    }

    #presentacao h2 {
        font-size: 60px;
        margin-top: -60px;
    }

    #presentacao img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 700px) {
    #presentacao h1 {
        font-size: 60px;
    }

    #presentacao h2 {
        font-size: 50px;
        margin-top: -40px;
    }

    #presentacao img {
        width: 280px;
        height: 280px;
    }
}

@media (max-width: 550px) {
    #presentacao h1 {
        font-size: 50px;
    }

    #presentacao h2 {
        font-size: 40px;
        margin-top: -40px;
    }

    #presentacao img {
        width: 230px;
        height: 230px;
    }
}

@media (max-width: 450px) {
    #presentacao h1 {
        font-size: 40px;
    }

    #presentacao h2 {
        font-size: 30px;
        margin-top: -25px;
    }

    #presentacao img {
        width: 190px;
        height: 190px;
    }
}

@media (max-width: 350px) {
    #presentacao h1 {
        font-size: 30px;
    }

    #presentacao h2 {
        font-size: 20px;
        margin-top: -20px;
    }

    #presentacao img {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 260px) {
    #presentacao h1 {
        font-size: 23px;
    }

    #presentacao h2 {
        font-size: 17px;
        margin-top: -14px;
    }

    #presentacao img {
        width: 130px;
        height: 130px;
    }
}

/* ---------- sobreMim ---------- */
#sobreMim {
    text-align: center;
}

#sobreMim p {
    text-align: center;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 1.2%;
}

#sobreMim a {
    margin: auto;
    font-size: 0.6em;
    border-bottom: 0.15em solid currentColor;
    cursor: pointer;
}

#sobreMim pre {
    text-align: center;
}

/* ---------- conhecimento ---------- */

#conhecimento {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#conhecimento section {
    width: 800px;
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 100px;
    margin-bottom: 2%;
}

#conhecimento section svg {
    width: 50px;
    max-width: 90%;
    height: 50px;
    margin: auto;
}

#conhecimento section svg:hover {
    scale: 1.3;
}

/* ---------- contato ---------- */
#contato address {
    width: 700px;
    border-radius: 30px;
    height: 150px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 70% 30%;
    grid-template-areas: 'img text' 'img btn';
    margin: auto;
    margin-bottom: 2%;
    align-items: center;
    justify-content: center;
}

#contato address svg {
    width: 80px;
    grid-area: img;
    margin: auto;
}

#contato address a {
    grid-area: btn;
    height: 100%;
    display: flex;
    align-items: center;
    border-end-end-radius: 30px;
    justify-content: center;
    width: 200px;
    margin-left: auto;
}

#contato address p {
    grid-area: text;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: -4%;
    overflow: hidden;
}

/* --- tema --- */

.escuro #contato address {
    background-color: var(--cor-terciaria-escuro);
}

.claro #contato address {
    background-color: var(--cor-terciaria-claro);
    color: var(--cor-texto2-claro);
}

.escuro #contato address a {
    background-color: var(--cor-texto-escuro);
    color: #000;
}

.claro #contato address a {
    background-color: var(--cor-primaria-claro);
    color: #fff;
}

/* --- responsividade --- */


@media (max-width:750px) {
    #contato address {
        width: 600px;
    }
}

@media (max-width:650px) {
    #contato address {
        width: 500px;
    }
}

@media (max-width:510px) {
    #contato address {
        width: 450px;
    }
}

@media (max-width:450px) {
    #contato address svg {
        width: 50px;
    }

    #contato address {
        width: 350px;
        height: 100px;
        border-radius: 10px;
    }

    #contato address a {
        border-end-end-radius: 10px;
    }
}

@media (max-width:450px) {
    #contato address svg {
        width: 50px;
    }

    #contato address {
        width: 350px;
        height: 100px;
        grid-template-areas: 'img text' 'btn btn';
    }

    #contato address a {
        width: 100%;
        border-end-end-radius: 10px;
        border-end-start-radius: 10px;
    }
}

@media (max-width:350px) {
    #contato address svg {
        width: 100%;
    }

    #contato address {
        width: 90%;
        height: 100px;
    }
}

/* ---------- barra de pesquisa ---------- */
#projetos div {
    display: flex;
    width: 1100px;
    max-width: 90%;
    margin: auto;
    justify-content: space-around;
}

#projetos form {
    width: 800px;
    height: 35px;
    color: #000;
    display: grid;
    grid-template-columns: calc(100% - 40px) 35px;
}

#projetos form input {
    width: 100%;
    height: 100%;
    padding-left: 2%;
    font-size: 1rem;
}

#projetos form input::placeholder {
    color: #535353;
}

#projetos form button svg {
    transform: rotateZ(90deg);
    padding: 4px;
}

#projetos div a {
    width: 200px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 1rem;
}

/* --- tema --- */
.escuro #projetos form input,
.escuro #projetos form button {
    background-color: var(--cor-texto-escuro);
    border: none;
    outline: none;
}

.claro #projetos form input,
.claro #projetos form button {
    background-color: var(--cor-terciaria-claro);
    border: none;
    outline: none;
}

.claro #projetos div a {
    background-color: var(--cor-terciaria-claro);
}

.escuro #projetos div a {
    background-color: var(--cor-texto-escuro);
}

@media (max-width:550px) {
    #projetos div a {
        font-size: 0.8rem;
    }

    #projetos form input {
        font-size: 0.9rem;
    }
}

@media (max-width:430px) {
    #projetos div a {
        font-size: 0.68rem;
    }

    #projetos form input {
        font-size: 0.8rem;
    }
}
@media (max-width:350px) {
    #projetos div a {
        display: none;
    }
     #projetos form input {
        font-size: 0.6rem;
    }
}