#home {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 't i';
}

#home #formularioTexto {
    display: grid;
    grid-area: t;
}

#home #formularioTexto textarea {
    background-color: #13132F;
    width: 90%;
    margin: 2% auto;
    overflow: visible;
    border: none;
    outline: none;
    color: #C5C5FF;
    min-height: 200px;
    font-size: 1em;
    padding: 1%;
    resize: none;
}

#home #formularioTexto #aprofundamento{
    min-height: 400px;
}

#home #formularioTexto button{
    width: 200px;
    padding: 1% 1%;
    margin: auto;
}

#home #imagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    margin-top: 20px;
    grid-area: i;
}

#home #imagem img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

#home form button{
    background-color: #C5C5FF;
    border: none;
    outline: none;
    border-radius: 2px;
}

input[type="file"] {
  display: none;
}

#imagem label{
    background-color: #C5C5FF;
    color: black;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 2px;
    font-size: 15px
}

@media (max-width: 870px){
    #home{
        grid-template-columns: 1fr;
        grid-template-areas: 'i' 't';
    }
}