*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
header{
    background-color: #010124;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 100px calc(100% - 100px);
    align-items: center;
    justify-content: center;
    color: #C5C5FF;
    font-size: 30px;
}
header a{
    text-align: center;
}
body{
    background-color: #0E0E21;
}